:root{
    --color-bleu-clair:#2E3092;
    --color-bleu-fonce:#211F59;
    --color-vert:#41CF41;
    --color-orange:#F8B72F;
    --bg-white:#FCFCFC;
    --text-black:#000000;
    --text-white:#FFFFFF;
    --bg-input:#8592A2;
}